[submodule "NTFS3G/Vendor/ntfs-3g"]
	path = NTFS3G/Vendor/ntfs-3g
	url = https://github.com/tuxera/ntfs-3g.git
[submodule "WIMLib/Vendor/wimlib"]
	path = WIMLib/Vendor/wimlib
	url = https://github.com/ebiggers/wimlib.git
